<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Coder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/phone.css">

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="image/channel logo.jpg" alt="">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/course">Course</a></li>
            <li><a href="/register">Registration</a></li>
            <!-- <li><a href="#">Login</a></li> -->
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <!-- 
        ==================================================
        front page
        ==================================================
     -->
    <div class="container">
        <div class="headings">
            <h1 id="welcome">welcome <span>To</span></h1>
            <h1 id="C-name">Bright <span>Coder</span></h1>
        </div>
        <div class="logo-headings">
            <img src="./image/channel logo.jpg" alt="">
        </div>
    </div>
    <!-- 
        ==================================================
        second page
        ==================================================
     -->

    <div class="second-page">
        <h1 class="course">
            Recommended <span>Courses</span>
        </h1>
        <div class="course-list">
            <div class="c-list-box">
                <img src="./image/course1.jpg" alt="">
                <p class="free-course">
                    Free Course
                </p>
                <h1 class="course-title">C Language</h1>
                <p class="course-detail">
                    In this latest course on C language tutorials in 2023 in Hindi , we will learn how to write
                    efficient and powerful C programs using modern tools.
                    C programming is one of the most requested topics on this channel which is why I created this c
                    programming for beginners course.
                </p>
                <a class="btn" href="https://www.youtube.com/playlist?list=PLASbTvgOj98dZZhbttZTM2ezfGu-utSnZ"
                    target="_blank">Play Course</a>
            </div>
            <div class="c-list-box">
                <img src="./image/course1.jpg" alt="">
                <p class="free-course">
                    Free Course
                </p>
                <h1 class="course-title">C Language</h1>
                <p class="course-detail">
                    In this latest course on C language tutorials in 2023 in Hindi , we will learn how to write
                    efficient and powerful C programs using modern tools.
                    C programming is one of the most requested topics on this channel which is why I created this c
                    programming for beginners course.
                </p>
                <a class="btn" href="#" target="_blank">Play Course</a>
            </div>
            <div class="c-list-box">
                <img src="./image/course1.jpg" alt="">
                <p class="free-course">
                    Free Course
                </p>
                <h1 class="course-title">C Language</h1>
                <p class="course-detail">
                    In this latest course on C language tutorials in 2023 in Hindi , we will learn how to write
                    efficient and powerful C programs using modern tools.
                    C programming is one of the most requested topics on this channel which is why I created this c
                    programming for beginners course.
                </p>
                <a class="btn" href="#" target="_blank">Play Course</a>
            </div>
        </div>
    </div>
    <!-- 
        ==================================================
        third page
        ==================================================
     -->
    <div class="third-page">
        <h1 class="placement-heading">Placement Question?</h1>
        <div class="t-p-box">
            <img src="./image/placement.jpg" alt="">
            <p class="trd-p-para">
                Placement refers to the process of connecting the selected person and the employer in order to establish
                an ongoing employment relationship.

                In this step the employee is given the activities he/she needs to perform and is told about his/her
                duties. Placement is usually followed by the orientation process.
            </p>
        </div>
    </div>
    <!-- 
        =========================================
        youtube
        =========================================
     -->
    <div class="youtube">
        <h1>Channel on Youtube</h1>
        <div class="youtube-logo">
            <img src="./image/channel logo.jpg" alt="">
            <div class="yotube-info">
                <p>Hello friends, on this YouTube channel you will be provided with coding related videos and you will
                    also be provided with the latest updates. Subscribe the channel to know more. Thank you</p>
                <a class="yt-tag" href="https://www.youtube.com/channel/UC-5v_NIZXEU0ZHBMyAlCrVQ"
                    target="_blank">Subscribe My Channel</a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="img-logo">
            <img src="./image/channel logo.jpg" alt="">
            <h1>Bright Coder</h1>
            <p class="copyright">
                Copyright <span>©</span> 2024 BrightCoder.com
            </p>
        </div>
        <div class="footer-tag">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </footer>
</body>
<script src="js/script.js"></script>

</html>