<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="css/notes.css">
<link rel="stylesheet" href="css/notes-phone.css">
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="image/channel logo.jpg" alt="">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/course">Course</a></li>
            <li><a href="/register">Registration</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <div class="download">
        <h1>How to download notes?</h1>
        <ul class="download-ul">
            <li class="downlaod-list">Step 1</li>
            <li class="downlaod-list">Step 2</li>
            <li class="downlaod-list">Step 3</li>
            <li class="downlaod-list">Step 4</li>
            <li class="downlaod-list">Step 5</li>
            <li class="downlaod-list">Step 6</li>
        </ul>
    </div>
    <script src="js/notes.js"></script>
</body>
</html>